.navbar{
    height: 50px;
    padding-top: 5px;
    background-color: #41004c;
    display: flex;
    justify-content: center;
}
.favorite{
    color: rgb(255, 0, 115);
    /* background-color: green; */
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-right: 5px;
}
.favorite .BsHeartFill:hover{
    color: rgb(219, 3, 100);

}
  
.navbar-Container{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  
.title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.image-profile{
    width: 30px;
    height: 30px;
    
}
.navbar-Items{
    display: flex;
}
.image-profile>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile b span{
    font-size: 12px;
}
.profile b{
    font-size: 15px;
    margin-right: 7px;
}

.profile{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    align-items: center;

}
.profile >div{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 6px;
}
.profile >div:hover{
    color: #14db6e;
}
.auth{
    display: flex;
    align-items: center;
}
.navAuth{
    margin-left: 20px;
    border: none;
    width: 83px !important;
    text-align: center;
    padding: 8px 0px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    color: #003580 !important;
}

.navAuth:hover{
    background-color: #fbe4ff;
}
.list-nav{
    /* margin-left: 20px; */
    border: none;
    width: 150px;
    padding: 13px;
    font-size:15px;
    color: rgb(170, 255, 162) !important;
    cursor: pointer;
    font-weight: bolder;
    background-color: #ff000000;
}
.list-nav:hover{
    background-color: #614e6459;
}
.dropdownmenu{
    background-color: #003580;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 17px;
    z-index :2;

}
/* .dropdownmenu ul{
    list-style-type: none;
    text-align: left;
    background-color: #14db6e;
    padding: 0px;
}
.dropdownmenu li{
    margin: 0px;
    padding: 6px 14px;
    background-color: red;
} */
