.footer{
  width: 100%;
  width: 1024px;
  font-size: 12px;
  margin: auto;
}
.fText{
    text-align: center;
}
.footer-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-list{
  list-style: none;
  padding: 0;
}

.footer-item{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}
