/* .pagination {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .pagination div {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination .active {
    background-color: #c77efb;
    color: white;
  }
  
  .pagination div:hover:not(.active) {
    background-color: #ddd;
  }
   */
